<footer>

    <div class="footer-body">
        <div class="container" ng-show="!footerFull">
            <div class="footer-body-item">
                <div class="H4">BrainApps</div>
                <ul>
                    <li>
                        <a href="http://brainapps.ru/page/about">О проекте</a>

                    </li>
                    <li>
                        <a href="http://brainapps.ru/page/team">Наша команда</a>
                    </li>
                    <li>
                        <a href="/blog/">Блог</a>
                    </li>

                    <li>
                        <a href="http://brainapps.ru/page/forinvestor">Инвесторам</a>
                    </li>
                    <li>
                        <a href="http://brainapps.ru/page/license">Лицензионное соглашение</a>
                    </li>

                </ul>
            </div>
            <div class="footer-body-item">
                <div class="H4 links-column-highlighted">Премиум						<span class="highlighted-crown"></span>
                </div>
                <ul>
                    <li>
                        <a href="http://brainapps.ru/premium" class="links-column-highlighted">Стать премиум</a>

                    </li>


                    <li>
                        <a href="http://brainapps.ru/premium/about" class="links-column-highlighted">Что это?</a>
                    </li>
                    <li>
                        <a href="http://brainapps.ru/tariff-group-landing" class="links-column-highlighted">Групповые тарифы</a>
                    </li>


                    <li>

                        <a href="http://brainapps.ru/promokey" class="links-column-highlighted">Активировать код</a>

                    </li>
                </ul>
            </div>
            <div class="footer-body-item">
                <div class="H4">Сотрудничество</div>
                <ul>
                    <li>
                        <a href="http://brainapps.ru/page/foredu">Учителям и учебным заведениям</a>
                    </li>
                    <li>
                        <a href="http://brainapps.ru/page/partnerprogram">Партнерская программа</a>
                    </li>
                    <li>
                        <a href="http://brainapps.ru/page/press">СМИ и журналистам</a>
                    </li>
                </ul>
            </div>
            <div class="footer-body-item">
                <div class="H4">Помощь</div>
                <ul>
                    <li>
                        <a href="http://brainapps.ru/faq">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="http://brainapps.ru/page/contacts">Контакты</a>
                    </li>
                    <li>
                        <a href="http://brainapps.ru/howto">Как заниматься</a>
                    </li>
                    <li>

                        <a href="http://brainapps.ru/tree">Древо познания</a>
                    </li>
                </ul>
            </div>
            <div class="footer-body-item text-center">
                <a class="btn btn-primary btn-embossed brainInPot" href="http://brainapps.ru/science">
                    Наша методика					</a>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <a class="copyright_link" href="">&copy; 2014 - 2016
                            BrainApps.ru </a>
                    </div>
                    <div class="col-xs-3 text-center">
                        <!--noindex-->
                        <ul>
                            <li>
                                <a href="http://vk.com/brainappsru" target="_blank" rel="nofollow"
                                   class="vk"></a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/brainappsru" target="_blank" rel="nofollow"
                                   class="fb"></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/brainappsru" target="_blank" rel="nofollow"
                                   class="tw"></a>
                            </li>
                        </ul>
                        <!--/noindex-->
                    </div>

                    <div class="col xs-4 pull-right">
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
