<header class="baheader header">
    <div class="container clearfix">
        <ul class="topNav">
            <li class="logo">
                <img class="logo" src="/images/logo.jpg"/>
            </li>
            <li >
                <a href="/">Главная страница</a>
            </li>
            <li th:if="${session.authenticate}">
                <a href="/personalaccount">Личный кабинет</a>
            </li>
            <li th:if="${session.authenticate == null}">
                <a href="/user/authorize">Войти</a>
            </li>
            <li th:if="${session.authenticate}">
                <a href="/user/logout">Выйти</a>
            </li>
            <li class="header__user-name" th:if="${session.authenticate}">
                Здравствуйте, <span th:text="${session.userName}"/>
            </li>
        </ul>
    </div>
</header>