<header class="baheader header">
    <div class="container clearfix">
        <ul class="topNav">
            <li class="logo">
                <img class="logo" src="/images/logo.jpg"/>
            </li>
            <li >
                <a href="/">Главная страница</a>
            </li>
            <span th:text="${session.LoginState}">Test</span>
            <li >
                <a href="/personalaccount">Личный кабинет</a>
            </li>
            <li >
                <a href="/authorize">Войти</a>
            </li>
        </ul>
    </div>
</header>