<div class="questionnaire-page-left-column"></div>
<div class="questionnaire-form-wrapper">
    <div th:text="${questionnaire.title}"/>
    <div th:each="question : ${questionnaire.questions}">
        <div data-resultComponent="QuestionResult">
            <div class="question-edit-form__text" th:text="${question.title}"></div>
            <div class="chart"></div>
            <div class="question-edit-form__answers question-result__answers-block">
                <div class="question-result__answer-data--hidden" th:each="answer : ${question.answers}">
                    <span th:text="${answer.title}"/>
                    <span th:text="${answer.number}"/>
                    <div>
                        <input type="hidden" name="title" th:value="${answer.title}"/>
                        <input type="hidden" name="countVotes" th:value="${answer.number}"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a th:href="@{/questionnaire/remove(id=${questionnaire.id})}">Удалить</a>
</div>

<!--
<div class="question__result" data-resultComponent="QuestionResult">
    <div th:text="${question.title}"/>
    <div class="question-result__answer" th:each="answer : ${question.answers}">
        <div>
            <input type="hidden" name="title" th:value="${answer.title}"/>
            <input type="hidden" name="countVotes" th:value="${answer.number}"/>
            <div class="chart" style="width: 500px; height: 400px;"></div>
        </div>
    </div>
</div>-->
