<div class="questionnaire-page-left-column">
    <div class="newsurvey results">
        <a th:href="@{/questionnaire/setstate(id=${questionnaire.id},state=remove)}" class="newitem">Удалить анкету</a>
    </div>
    <div th:if="${questionnaire.state == 'STARTED'}" class="newsurvey results">
        <a th:href="@{/questionnaire/setstate(id=${questionnaire.id},state=stop)}" class="newitem">Остановить голосование</a>
    </div>
    <div th:if="${questionnaire.state == 'NOT_STARTED'}" class="newsurvey results">
        <a th:href="@{/questionnaire/setstate(id=${questionnaire.id},state=start)}" class="newitem">Запустить голосование</a>
    </div>
    <div class="newsurvey results">
        Состояние: <span th:text="${questionnaire.state}"/>
    </div>
</div>
<div class="questionnaire-form-wrapper">
    <div class="content_header questionnaire-list__content-header">
        <h1 class="content_header__title questionnaire-list__content_header__title" th:text="${questionnaire.title}">
        </h1>
    </div>
    <div th:each="question : ${questionnaire.questions}">
        <div class="question-result-wrapper" data-resultComponent="QuestionResult">
            <div class="question-edit-form__text content_header questionnaire-list__content-header">
                <h3 class="content_header__title questionnaire-list__content_header__title" th:text="${question.title}"/>
            </div>
            <div class="chart"></div>
            <div class="question-edit-form__answers question-result__answers-block">
                <div class="question-result__answer-data--hidden" th:each="answer : ${question.answers}">
                    <span th:text="${answer.title}"/>
                    <span th:text="${answer.number}"/>
                    <div>
                        <input type="hidden" name="title" th:value="${answer.title}"/>
                        <input type="hidden" name="countVotes" th:value="${answer.number}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="question__result" data-resultComponent="QuestionResult">
    <div th:text="${question.title}"/>
    <div class="question-result__answer" th:each="answer : ${question.answers}">
        <div>
            <input type="hidden" name="title" th:value="${answer.title}"/>
            <input type="hidden" name="countVotes" th:value="${answer.number}"/>
            <div class="chart" style="width: 500px; height: 400px;"></div>
        </div>
    </div>
</div>-->
