<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questionnaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="partial/headlibs"/>
</head>
<body>
<div th:replace="partial/header"/>
<div class="main-content">
    <div class="questionnaire_answer_form">
        <h1 class="questionnaire_answer_form__title" th:text="${questionnaire.title}"/>
        <form action="/questionnaire/answer" method="post">
            <input name="idQuestionnaire" type="hidden" th:value="${questionnaire.idQuestionnaire}"/>
            <div class="questionnaire_answer_form__question" th:each="question : ${questionnaire.questions}">
                <h2 class="questionnaire_answer_form__question_title" th:text="${question.title}"/>
                <input th:if="${question.questionType.getName()} == 'open'" type="textarea" th:name="${question.idQuestion}"/>
                <div class="questionnaire_answer_form__question_answers" th:each="answer : ${question.answers}">
                    <div class="questionnaire_answer_form__question_answer">
                        <input th:if="${question.questionType.getName()} == 'radio'" type="radio" th:name="${question.idQuestion}" th:value="${answer.idAnswer}"/>
                        <input th:if="${question.questionType.getName()} == 'checkbox'" type="checkbox" th:name="${question.idQuestion}" th:value="${answer.idAnswer}"/>
                        <input th:if="${question.questionType.getName()} == 'open'" type="text" th:name="${question.idQuestion}"/>
                        <span class="questionnaire_answer_form__question_answer_title" th:text="${answer.title}"/>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg">Ответить</button>
        </form>

    </div>
</div>
<div th:replace="partial/footer"/>
<div th:replace="partial/footerlibs"/>
</body>
</html>