<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questionnaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="partial/headlibs"/>
</head>
<body>
    <div class="body_wrapper">
        <div th:replace="partial/header"/>
        <div class="main-content">
            <div class="main-page-welcome-message">Добро пожаловать на наш сайт. Здесь Вы можете:</div>
            <div class="main-page-items">
                <div class="main-page-welcome-message__item">Можете создавать опросы</div>
                <div class="main-page-welcome-message__item">Смотреть результаты ваших опросов в удобной форме</div>
                <div class="main-page-welcome-message__item">...а также отвечать на опросы других пользователей.</div>
            </div>
        </div>
        <div th:replace="partial/footer"/>
        <div th:replace="partial/footerlibs"/>
    </div>
</body>
</html>