<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questionnaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="partial/headlibs"/>
</head>
<body>
<div th:replace="partial/header"/>
<div class="wrapper">
    <div th:replace="partial/content-header"/>
    <div th:replace="partial/personalquestionnairelist"/>
    <div class="newsurvey">
        <a href="/questionnaire/create" class="newitem">Создайте анкету</a>
    </div>
</div>
<div th:replace="partial/footerlibs"/>
</body>
</html>